[submodule "deps/lqtutils"]
	path = deps/lqtutils
	url = https://github.com/carlonluca/lqtutils.git
[submodule "deps/lqobjectserializer"]
	path = deps/lqobjectserializer
	url = https://github.com/carlonluca/lqobjectserializer.git
[submodule "deps/qtaes"]
	path = deps/qtaes
	url = https://github.com/bricke/Qt-AES.git
[submodule "deps/lightlogger"]
	path = deps/lightlogger
	url = https://github.com/carlonluca/LightLogger.git
[submodule "deps/android_openssl"]
	path = deps/android_openssl
	url = https://github.com/carlonluca/android_openssl.git
