[submodule "deps/lqtutils"]
	path = deps/lqtutils
	url = https://github.com/carlonluca/lqtutils.git
[submodule "deps/lqobjectserializer"]
	path = deps/lqobjectserializer
	url = https://github.com/carlonluca/lqobjectserializer.git
